*, *::after, *::before {
    box-sizing: border-box;
}

body {
    height: 100vh;
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    background: var(--background-color);
    display: flex;
    flex-direction: column;
}

:root {
    --square-size: 100px;
    --background-color: rgb(144, 253, 227);
}

h1 {
    margin-left: 5px;
}

.players {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: auto;
    font-size: 1.2rem;

}

.player-name {
    margin: 5px;
}

#x-player {
    color: rgb(255, 108, 85);
    background: var(--background-color);
}

#o-player {
    color: rgb(107, 107, 255);
    background: var(--background-color);
}

input {
    border: 1px solid black;
    border-radius: 20px;
    font-size: 1.4rem;
    padding: 8px;
}

.start-button-container,
.reset-button-container,
.message {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 10px;
    display: none;
}

button {
    font-family: 'Quicksand', sans-serif;
    font-size: 1.3rem;
    height: 40px;
    width: 90px;
    background: black;
    color: white;
    border: none;
    border-radius: 30px;
    transition: 300ms;
}

button:hover {
    transform: scale(1.2);
}

.message {
    margin: 20px;
    font-size: 2rem;
}

.start-button-container.show,
.reset-button-container.show,
.message.show {
    display: flex;
}

.board-container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: center;
    align-content: center;
    display: none;
}

.board-container.show {
    display: grid;
}

.square {
    width: var(--square-size);
    height: var(--square-size);
    display: flex;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
    
    font-size: 3rem;
    cursor: pointer;
}

.square:first-child,
.square:nth-child(2),
.square:nth-child(3) {
    border-top: none;
}

.square:nth-child(3n + 1) {
    border-left: none;
}

.square:nth-child(3n + 3) {
    border-right: none;
}

.square:last-child,
.square:nth-child(8),
.square:nth-child(7) {
    border-bottom: none;
}

.winning-message {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    display: none;
}

.winning-message.show {
    display: flex;
}

footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 30px;
    width: 100%;
    margin-top: auto;
    background: rgba(0, 0, 0, 0.05);

}

#sandoval {
    margin-right: 5px;
    color: rgba(0, 0, 0, 0.5);
}